@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("./pokedex.css");
@import url("./pokemon-modal.css");
@import url("type-colors.css");

:root {
	font-size: 62.5%;
	box-sizing: border-box;
	text-size-adjust: 100%;

	--body-dark-color: #1a1a1a;
	--main-dark-color: #2b2b2b;
	--text-dark-color: #fff;

	--body-light-color: #e4e6eb;
	--main-light-color: #fff;
	--text-light-color: #000;

	--theme-switch-transition: background-color 0.1s ease;
}

* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;

	list-style: none;
	border: 0;

	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
}

body {
	min-height: 100vh;
	
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
	background-color: var(--body-light-color);
	color: var(--text-light-color);
	
	transition: var(--theme-switch-transition);
}

body.theme--dark {
	background-color: var(--body-dark-color);
	color: var(--text-dark-color);
}

main {
	width: calc(100% - 4rem);
	padding: 2rem 2rem 4rem 2rem;

	transition: var(--theme-switch-transition);
}

main,
footer {
	background-color: var(--main-light-color);
	color: var(--text-light-color);
	transition: var(--theme-switch-tranisition);
}

main.theme--dark,
footer.theme--dark {
	background-color: var(--main-dark-color);
	color: var(--text-dark-color);
}

footer {
	width: 100%;
	height: 10rem;
	padding: 2rem 0;
	border-top: #d0d0d0 0.2rem solid;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

footer.theme--dark {
	border-top: #4d4d4d 0.2rem solid;
}

footer a {
	color: var(--hightlight-color);
}

footer a:hover {
	color: var(--highlighter-color);
}

footer a:focus {
	color: var(--highlight-click-color);
}

button {
	cursor: pointer;
}

.is--invisible {
	display: none;
}
