section.bound__external {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	z-index: 1;
	position: fixed;
	bottom: 0;

	animation: fade 0.3s linear;
	transition: opacity 0.3s linear;
}

.modal--close {
	opacity: 0;
}

.pokemon__modal {
	height: 100%;
	width: 100%;

	display: flex;
	flex-flow: column;
}

.fa-arrow-left {
	grid-area: button;
	height: 3rem;

	align-self: flex-start;
	cursor: pointer;

	transition: opacity 0.3s ease-in-out;
	opacity: 0.7;
}

.fa-arrow-left:hover {
	opacity: 0.4;
}

.pokemon__modal--header {
	padding: 3rem;
	height: fit-content;

	display: grid;
	grid-template-areas:
		"button . ."
		"image image image"
		"infos infos infos";
	align-items: center;
}

.pokemon__modal--infos {
	grid-area: infos;
	width: 100%;
	font-size: 2.4rem;

	display: flex;
	flex-flow: column;
	gap: 1rem;
}

ol.pokemon__modal--types {
	display: flex;
	gap: 1rem;
}

ol.pokemon__modal--types li {
	width: 25%;
}

.pokemon__modal--supinfos {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.pokemon__modal--name {
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 3rem;
}

.pokemon__modal--number {
	color: #00000050;
	font-weight: 700;
	font-size: 2.4rem;
}

.pokemon__modal--image {
	padding: 3rem 0;
	grid-area: image;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemon__modal--image img {
	height: 20rem;
	max-height: 100%;
	max-width: 100%;
}

.pokemon__modal--details {
	height: 100%;
	width: 100%;
	border-radius: 2rem 2rem 0 0;

	position: relative;
	bottom: 0;

	background-color: var(--main-light-color);

	overflow: auto;
}

.pokemon__modal--details.theme--dark {
	background-color: var(--main-dark-color);
	color: var(--text-dark-color);
}

.pokemon__modal--type {
	height: 2rem;
	padding: 0.4rem;

	border-radius: 1.6rem;
	font-weight: 700;
	font-size: 1.6rem;
	filter: brightness(0.9);
	text-align: center;
	color: #fff;
}

.details__navbar {
	padding-top: 3rem;
	margin-bottom: 1.4rem;

	font-size: 1.6rem;
	font-weight: 500;
	color: #d0d0d0;
}

.details__navbar ul li:is(.active) {
	color: var(--text-light-color);
}

.details__navbar.theme--dark ul li:is(.active) {
	color: var(--text-dark-color);
}

.details__navbar ul {
	display: flex;
	justify-content: space-around;
}

.details__navbar ul li {
	cursor: pointer;
}

#details__divider {
	width: 85%;
	display: block;
	margin: 0 auto;
	position: relative;

	height: 2px;
	background-color: #a2a2a250;
}

#details__divider--current {
	width: 18vw;
	display: block;
	margin: 0 auto;

	height: 0.4rem;
	position: absolute;
	top: -0.1rem;

	border-radius: 5rem;
	background: #6c79db;

	transition: left 0.35s ease-in-out;
}

.details__content {
	padding: 4rem 3rem;
	font-size: 1.8rem;
}

ul.description,
ul.values,
ul.meters {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: flex-start;
	gap: 2rem;
}

ul.values {
	grid-area: values;
}

.values li,
.details__content--moves p {
	text-transform: capitalize;
}

ul.meters {
	grid-area: meter;
}

ul.description {
	grid-area: desc;
	color: inherit;
	font-weight: 500;
}

.details__content div {
	display: grid;
	grid-template-columns: minmax(10rem, 10rem) 1fr;
	grid-template-areas: "desc values";
}

.details__content div:is(.is--invisible) {
	display: none;
}

.details__content div:is(.details__content--stats) {
	grid-template-columns: minmax(10rem, 10rem) minmax(5rem, 5rem) 1fr;
	grid-template-areas: "desc values meter";
}

.details__content div:is(.details__content--moves) {
	grid-template-columns: 1fr;
}

.meters li,
.meters li .currentMeter {
	width: 100%;
	height: 0.6rem;

	border-radius: 2rem;
	background-color: #a2a2a250;
	overflow: hidden;
}

.currentMeter {
	animation: meter-grow 1s ease-in-out;
}

.meters li .bg__range--bad {
	background-color: var(--bad-meter-color);
}

.meters li .bg__range--medium {
	background-color: var(--medium-meter-color);
}

.meters li .bg__range--good {
	background-color: var(--good-meter-color);
}

.meters li .bg__range--excellent {
	background-color: var(--excellent-meter-color);
}

.details__content--moves p {
	font-size: 1.8rem;
	height: auto;
	max-height: 100%;

	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (pointer: coarse) and (orientation: landscape) and (max-width: 700px) {
	.pokemon__details {
		bottom: -20rem;
	}
}

@media screen and (max-width: 300px) {
	.details__content div:is(.details__content--stats) {
		grid-template-columns: minmax(9rem, 15rem) 1fr;
		grid-template-areas: "desc values";
	}

	.details__content--stats .meters {
		display: none;
	}
}

@media screen and (min-width: 700px) {
	section.bound__external {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #1d1c1cb3;
	}

	.pokemon__modal {
		width: 80vw;
		height: 70vh;
		display: grid;
		grid-template-columns: 1fr 1fr;

		justify-content: center;
		align-items: center;
		border-radius: 2rem;
	}

	.pokemon__modal--details {
		border-radius: 2rem;
	}

	#details__divider--current {
		width: 7vw;
	}
}

@keyframes meter-grow {
	from {
		transform: translateX(-25rem);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
