:root {
	--theme-switch-tranisition: background-color 0.2s ease;
}

main header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 2rem;
	margin-bottom: 2rem;
}

main header h1 {
	transition: var(--theme-switch-transition);
}

#button__switchTheme {
	width: auto;
	margin: 0;
	padding: 0.8rem;

	background-color: transparent;
	color: inherit;

	border-radius: 1rem;
	text-decoration: none;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.8rem;
}

#button__switchTheme i {
	height: 2rem;
}

.pokemons__container {
	list-style: none;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.pokemon__item {
	height: 12rem;
	padding: 2rem;

	border-radius: 1rem;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;

	transition: filter .2s ease, transform .2s linear;
	cursor: pointer;
}

.pokemon__item:hover {
	filter: brightness(1.1);
	transform: scale(1.05);
}

.pokemon__header {
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.pokemon__name {
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1.8rem;
}

.pokemon__number {
	color: #00000050;
	font-weight: 700;
	font-size: 1.8rem;
}

.pokemon__main {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.pokemon__image {
	max-height: 10rem;
	max-width: 10rem;
	align-self: flex-end;
}

.pokemon__types {
	margin: 0;
	padding: 0;

	list-style: none;

	display: flex;
	flex-flow: column;
	gap: 0.7rem;
}

.pokemon__type {
	height: 2rem;
	padding: 0.4rem;

	border-radius: 1.6rem;
	font-weight: 700;
	filter: brightness(0.9);
	text-align: center;
	color: #fff;
}

.loadMore__container {
	width: 100%;
	padding: 4rem 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#button__loadmore {
	padding: 0.8rem;
	background-color: var(--hightlight-color);
	color: #fff;
	border: none;
	border-radius: 1rem;

	transition: background-color 0.1s ease-in-out;
}

#button__loadmore:hover {
	background-color: var(--highlighter-color);
}

#button__loadmore:focus {
	background-color: var(--highlight-click-color);
}

#button__loadmore:disabled {
	background-color: var(--disabled-color);
	opacity: 0.5;
	cursor: not-allowed;
}

.loading__container {
	display: flex;
	gap: 0.5rem;
}

.loading__circle {
	width: 2.5rem;
	height: 2.5rem;
	margin: 2rem 0;

	border-radius: 50%;
	background-image: url("https://th.bing.com/th/id/R.60c891136928449267b40976ef85326b?rik=LOQmKxsm7P08gw&riu=http%3a%2f%2fwww.clker.com%2fcliparts%2f7%2fz%2fV%2fi%2f7%2f2%2fpokeball-icon.svg.hi.png&ehk=wNMCMxWyfPVsSqD%2blrFdObumkc%2bncxUweLNt5R6z8Jg%3d&risl=&pid=ImgRaw&r=0");
	background-size: 2.5rem;

	animation: load 0.8s ease-in-out infinite;
}

@keyframes load {
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 400px) {
	main header {
		flex-flow: column;
	}
}

@media screen and (max-width: 500px) {
	.pokemons__container {
		display: grid;
		grid-template-columns: 1fr;
	}

	main {
		border-radius: 0rem;
	}
}

@media screen and (min-width: 500px) {
	.pokemons__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 780px) {
	.pokemons__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1060px) {
	.pokemons__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 1450px) {
	.pokemons__container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}
